:root{
    --navHeight: 50px;
    --darkColor:#7CA256;
    --lightColor:#cfdb90;
}

body{
    margin: 0px;
    background-color: var(--lightColor);
}

#profile{
    display:flex;

}

main{
    position: relative;
    padding-top: var(--navHeight);   
    margin:0px 10px; 
}

main>img{
    height:200px;
    margin: 10px;
}

main>div{
    width: 100%;
}

nav {
    z-index: 1;
    font-style: bold;
    font-size: 15pt;
    height: var(--navHeight);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    position:fixed;
    background-color: var(--darkColor);
    text-align: center;
    align-items: center;
}

#education div{
    display: grid;
    grid-template-columns: 4fr 1fr 3fr;
}