:root{
    --navHeight: 50px;
    --darkColor:#7CA256;
    --lightColor:#cfdb90;
}

html{
    background-image: url("../images/bosque.jpg"); 
    attribution: "credit to Juan Pérez for the image on https://commons.wikimedia.org/wiki/File:Bosque_de_Muniellos_02.jpg. No time to figure out how to add text to the background right now, so giving credit in the css since it can be accesed. Sorry for that Juan, I'll do my best when I have no deadlines to meet in a few minutes.";
}
body{
    margin: 0px 50px;
    background-color: var(--lightColor);
}

#profile{
    display:flex;

}

main{
    position: relative;
    padding-top: var(--navHeight);   
    margin:0px 10px; 
}

main>img{
    height:200px;
    margin: 10px;
}

main>div{
    width: 100%;
}

nav {
    z-index: 1;
    font-style: bold;
    font-size: 15pt;
    height: var(--navHeight);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    position:fixed;
    background-color: var(--darkColor);
    text-align: center;
    align-items: center;
}

#education div{
    display: grid;
    grid-template-columns: 4fr 1fr 3fr;
}

#projects div{
    margin-top:20px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    text-align: left;
    align-items: center;
}

footer{
    background-color: var(--lightColor);
}